[submodule "juce-seminar-02-01-git"]
	path = juce-seminar-02-01-git
	url = https://github.com/davemod/juce-seminar-02-01-git
[submodule "juce-seminar-02-02-parameters"]
	path = juce-seminar-02-02-parameters
	url = https://github.com/davemod/juce-seminar-02-02-parameters.git
[submodule "juce-seminar-02-03-ui-styling"]
	path = juce-seminar-02-03-ui-styling
	url = https://github.com/davemod/juce-seminar-02-03-ui-styling
[submodule "juce-seminar-02-05-dsp"]
	path = juce-seminar-02-05-dsp
	url = https://github.com/davemod/juce-seminar-02-05-dsp
[submodule "juce-seminar-02-06-playhead"]
	path = juce-seminar-02-06-playhead
	url = https://github.com/davemod/juce-seminar-02-06-playhead
[submodule "juce-seminar-02-07-meter"]
	path = juce-seminar-02-07-meter
	url = https://github.com/davemod/juce-seminar-02-07-meter
